<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Opret bruger</title>
</head>
<body>
<form th:action="@{/save}" th:method="POST" th:object="${user}">
    <p>
        <input id="userID" type="hidden" th:field="*{userID}" />
    </p>
    <p>
        <label for="name"> Navn:</label>
        <input id="name" type="text" th:field="*{userName}"/>
    </p>

    <p>
        <a th:href="@{/userlist}"> <button type="submit">Opret bruger</button> </a>
        <a th:href="@{/userlist}"> <button type="button">Tilbage</button> </a>
    </p>

</form>
</body>
</html>