<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Ønskelister</title>
</head>
<body>
<h1> Ønskelister </h1>
<table>
    <thead>
    <tr>
        <th>Ønskelister: 3 </th>
    </tr>
    </thead>
<tbody>
<tr th:each="wishlist : ${wishlists}">
    <td>
        <a th:href="@{/{wishlistid}/wishes(wishlistid=${wishlist.getId()})}">
            <button type="submit"><span th:text="${wishlist.name}"></span></button>
        </a>
    </td>
    <td> <a th:href="@{'/' + ${userid} + '/delete/' + ${wishlist.getId()}}"> <button> Slet</button></a> </td>
</tr>
</tbody>
</table>

<a th:href="@{/{userid}/addwishlist(userid=${userid})}"> <button type="submit"> Tilføj Ønskeliste</button></a>
<a th:href="@{/}"> <button type="submit"> Tilbage </button></a>
</body>
</html>