<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Ønsker</title>
</head>
<body>
<h1> Ønsker:</h1>
<table>
    <thead>
    <tr>
        <th> Navn</th>
        <th> Beskrivelse</th>
        <th> Link</th>
        <th> Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${listOfWishes}">
        <td th:text="${wish.name}"></td>
        <td th:text="${wish.description}"></td>
        <td th:text="${wish.link}"></td>
        <td th:text="${wish.price}"></td>
        <td>
            <a th:href="@{/{wishid}/editwish}"> <button type="submit"> Ret Ønske </button></a>
            <a th:href="@{/{wishid}/deletewish}"> <button> Slet Ønske </button></a>

        </td>
    </tr>
    <a th:href="@{/{wishlistid}/addwish}"> <button type="submit"> Tilføj Ønske </button></a>
    </tbody>
</table>
<a th:href="@{/wishlist}"><button type="submit"> Tilbage </button></a>
</body>
</html>