<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskelister</title>
</head>
<body>
<h1> Ønskelister </h1>
<table>
    <thead>
    <tr>
        <th>Ønskelister: </th>
    </tr>
    </thead>
<tbody>
<tr th:each="wishlist : ${wishlists}">
    <td> <a th:href="@{/{wishlistid}/wishes(wishlistid=${wishlist.id})}" th:text="${wishlist.name}"/> </td>
    <td> <a th:href="@{'/' + ${userid} + '/delete/' + ${wishlist.id}}"> <button> Slet</button></a> </td>
</tr>
</tbody>
</table>

<button> Tilføj Ønskeliste</button>
<a th:href="@{/}"> <button> Tilbage </button></a>
</body>
</html>