<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Ønsker</title>
</head>
<body>
<h1> Ønsker:</h1>
<table>
    <thead>
    <tr>
        <th> Navn</th>
        <th> Beskrivelse</th>
        <th> Link</th>
        <th> Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${listOfWishes}">
        <td th:text="${wish.name}"></td>
        <td th:text="${wish.description}"></td>
        <td>
            <a th:href="${wish.link.startsWith('http://') || wish.link.startsWith('https://') ? wish.link : 'http://' + wish.link}"
               th:text="Link">Link</a>
        </td>
        <td th:text="${wish.price} + ' kr.'"></td>
        <td>
            <a th:href="@{'/' + ${wishlistid} + '/' + ${wish.getWishID()} + '/editwish'}">
                <button type="submit"> Ret Ønske</button>
            </a>
            <a th:href="@{'/' + ${wishlistid} + '/' + ${wish.getWishID()} + '/deletewish'}">
                <button> Slet Ønske</button>
            </a>
        </td>
    </tr>
    </tbody>

</table>
<a th:href="@{/{wishlistid}/addwish(wishlistid=${wishlistid})}">
    <button type="submit"> Tilføj Ønske</button>
</a>
<a th:href="@{/{userid}/wishlists(userid=${userID})}">
    <button type="submit"> Tilbage</button>
</a>
</body>
</html>